h3{
    font-size: 150%;
    font-family: 'Cardo', serif;


}
h4{
    font-size: 150%;
    font-family: 'Cardo', serif;




}
h5{
    text-align: center;
    font-size: 300%;
    font-family: 'Cardo', serif;


}



@media (max-width: 600px) and (min-width: 200px) {
 
#siema{
    position: fixed;
    height: 100%;
    width:35%;
    background-color:rgb(65, 66, 64);
    float: left;
    overflow: scroll;
    background-image: url("siemabackground.jpg");
    background-attachment: fixed;
    background-size: contain;


}
body{
    margin: 0px;
    padding: 0px;
    
}
li{
    font-size: 15px;
    color:white;
    margin-right: -100px;
    text-shadow: 4px 2px #000000;
    
}
h2{
    font-size: 20px;
    color:black;
    padding:25px;
    float: right;
    margin-right: -20px;
    font-family: 'Cardo', serif;
}
ul{
    float: right;
    margin-right: 100px;
}
h1{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

#content{
    float:right;
    width: calc(100% - 35%);
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Cardo', serif;
    background-image: url("granit1.png");
    
    
}
h1{
    font-size: 150%;
    text-align: center;
    font-family: 'Cardo', serif;






}    
h3{
    font-size: 100%;
    text-align: center;
    font-family: 'Cardo', serif;
}

h4{
    font-size: 50%;
    text-align: center;
    font-family: 'Cardo', serif;
    margin-top: 20px;




}
h5{
    text-align: center;
    font-size: 150%;
    margin-top: 60px;


}
iframe{
    text-align: center;
    width:  200px;
    height: 200px;
    margin-top: 50px;
}
.logo{
            width: 80%;
            height: 10%;
            float: right;

         }
}
@media (min-width: 600px) and (max-width: 1000px) {
            body {
        background-color: #e6e6fe;

              } 
            #siema{
            position: fixed;
            height: 100%;
            width:35%;
            background-color:rgb(65, 66, 64);
            background-image: url("siemabackground.jpg");
            background-attachment: fixed;
            background-size: contain;
            }
        body{
            margin: 0px;
            padding: 0px;
            
            }
        li{
            font-size: 25px;
            color:white;
            margin-right: -50px;
            text-shadow: 4px 2px #000000;

            }
        h2{
            font-size: 25px;
            color:black;
            padding:25px;
            float: left;
            margin-right: -60px;
            font-family: 'Cardo', serif;
            }
        ul{
            float: right;
            margin-right: 100px;
            }
        a img{
            text-decoration: none;
            font-family: 'Cardo', serif; 
            height: 60%;
            width: 60%;             
            }
        h1{
            text-align: center;
            font-size: 30px;
            }
        
        #content{
            float:right;
            width: calc(100% - 35%);
            padding: 10px;
            box-sizing: border-box;
            background-image: url("granit1.png");
            font-family: 'Cardo', serif;
            text-align: center;
            }
        h1{
            font-size: 300%;
            font-family: 'Cardo', serif;
            }
        h3{
            font-size: 150%;
            margin-left: 3%;
            font-family: 'Cardo', serif;
            }
        h4{
            font-size: 100%;
            margin-left: 3%;
            font-family: 'Cardo', serif;
            }
        h5{
            text-align: center;
            font-size: 250%;
            margin-right: 8%;
            margin-top: 15%;
            font-family: 'Cardo', serif;
            }
        iframe{
            text-align: center;
            width: 300px;
            height: 300px;



            }
        .logo{
            width: 80%;
            height: 20%;
            float: right;

         }
}