{%  extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/css/nasza-oferta.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    {{ parent() }}

    <h3>CO OFERUJEMY?</h3><br>
    <h4><hr>Kamieniarstwo Paweł Kalinowski oferuje wysokiej jakości pomniki i nagrobki.Reszta textu.... .............................. .................... .................. .................... ...................... .................. jakiś text przykładowy trzeba wymyślić a teraz pisze zeby wypełnić linijki lol duzo troche tego musze zrobic no ale cóż nic nie poradze serio przydał by juz się tu tekst oryginalny :000000000000000 jeszcze nie starczyło tekstu wiec dalej pisze co moge i myk zobaczmy czy juz nie jeszcze nie mały pasek został tylko do wypełninia taki 1 px dosłownie wiec to ostatnia linijka ................ ................. ................. ............... ............. ................ ................. .......................... ............................ ........................................... ........................................ ..................................... ........................................ .................................. .............. ............ <hr></h4>
{% endblock %}