{%  extends 'base.html.twig' %}

    {% block stylesheets %}
    {{ parent() }}
        <link href="/css/lightbox.css" rel="stylesheet" />
        <link href="/css/pomniki.css" rel="stylesheet" />
    {% endblock %}

{% block body %}
    {{ parent() }}

    <script src="/skeleton/lightbox-plus-jquery.js">
    </script>
    <h1>NASZE PRACE:</h1>
    <br><br><br><br><br>
    <a class="example-image-link" href="/images/rzezba2.png"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba2.png" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba3.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba3.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba1.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba1.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba4.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba4.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba2.png"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba2.png" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba3.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba3.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba1.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba1.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba4.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba4.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba2.png"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba2.png" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba3.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba3.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba1.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba1.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba4.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba4.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba2.png"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba2.png" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba3.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba3.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba1.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba1.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba4.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba4.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba2.png"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba2.png" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba3.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba3.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba1.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba1.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba4.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba4.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba2.png"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba2.png" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba3.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba3.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba1.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba1.jpg" height="144" width="247"/></a>

    <a class="example-image-link" href="/images/rzezba4.jpg"
       data-lightbox="example-set" data-title=""><img class="example-image"
                                                      src="/images/rzezba4.jpg" height="144" width="247"/></a>


{% endblock %}
